<form [formGroup]="form" (ngSubmit)="submit()">

  <div>
    <label>Email</label>
    <input class="form-control" formControlName="email" placeholder="Enter your email">
  </div>

  @if (form.controls.email.touched && form.controls.email.invalid) {
  <div>
    @if (form.controls.email.errors?.['required']) {
      Email is required
    }
    @if (form.controls.email.errors?.['email']) {
      Invalid email format
    }
  </div>
  }

  @if (mode === 'register') {
    <div>
      <label>Username</label>
      <input class="form-control" formControlName="username" placeholder="Enter your username">
    </div>
    @if (form.controls.username.touched && form.controls.username.invalid){
      <div>
        @if (form.controls.username.errors?.['required']){
          Username is required
        }
        @if (form.controls.username.errors?.['minlength']) {
          Username must be at least 6 characters
        }
      </div>
    }
  }

  <div>
    <label>Password</label>
    <input type="password" class="form-control" formControlName="password" placeholder="Enter your password">
  </div>
  @if (form.controls.password.touched && form.controls.password.invalid){
    <div>
      @if (form.controls.password.errors?.['required']){
        Password is required
      }
    </div>
  }

  @if (errorMessage) {
    <div>
      {{ errorMessage }}
    </div>
  }

  <button type="submit">
    {{ mode === 'login' ? 'Sign in' : 'Create Account' }}
  </button>
  <button type="button" (click)="toggleMode()">
    {{ mode === 'login' ? 'Need an account? Sign Up' : 'Already have an account? Sign In' }}
  </button>
</form>