<div>
  <h2>Admin</h2>

  @if (loading) {
    <div>loading...</div>
  }

  <button (click)="showAdminCreation = !showAdminCreation">Admin creation</button>
  @if (showAdminCreation) {
    <app-admin-creation></app-admin-creation>
  }

  <hr>

  @if (!loading) {
    <div>
      <h4>Search a book</h4>
      <input type="text" placeholder="Search book...">
      @if (errorBookMessage) {
        <div>
          {{ errorBookMessage }}
        </div>
      }
      <ul>
        @for (book of books; track book) {
          <li>
            {{ book.title }} — {{ book.author }}
            <button (click)="edit(book)">Edit</button>
          </li>
        }
      </ul>
      @if (!showManageBooks) {
        <button (click)="createNew()">Create Book</button>
      }
      @if (showManageBooks) 
      {
        <app-book-editor
          [book]="selectedBook"
          [categories]="categories"
          (saved)="onBookSaved()">
        </app-book-editor>
      }
    </div>
  }

  <hr>
  @if (errorCategoryMessage) {
    <div class="error">
      {{ errorCategoryMessage }}
    </div>
  }
  <button (click)="showManageCategories = !showManageCategories">Manage Categories</button>
  @if (showManageCategories) 
  {
    <app-category-editor [categories]="categories" (saved)="loadAll()"></app-category-editor>
  }
  
</div>  