<h3>Book Editor</h3>

<form [formGroup]="form" (ngSubmit)="submit()">
  <div>
    <label for="title">Title:</label>
    <input id="title" formControlName="title" placeholder="Enter book title"/>
    @if(form.controls.title.touched && form.controls.title.invalid)
    {
      <div>
        @if(form.controls.title.errors?.['required'])
        {
          Title is required
        }
      </div>
    }
  </div>

  <div>
    <label for="author">Author:</label>
    <input id="author" formControlName="author" placeholder="Enter book author"/>
    @if(form.controls.author.touched && form.controls.author.invalid)
    {
      <div>
        @if(form.controls.author.errors?.['required'])
        {
          Author is required
        }
      </div>
    }
  </div>

  <div>
    <label for="content">Content:</label>
    <textarea id="content" formControlName="content" placeholder="Enter book content"></textarea>
    @if(form.controls.content.touched && form.controls.content.invalid)
    {
      <div>
        @if(form.controls.content.errors?.['required'])
        {
          Content is required
        }
      </div>
    }
  </div>

  <div>
    <label for="publishedYear">Published Year:</label>
    <input id="publishedYear" type="number" formControlName="publishedYear" placeholder="Enter book published year"/>
    @if(form.controls.publishedYear.touched && form.controls.publishedYear.invalid)
    {
      <div>
        @if(form.controls.publishedYear.errors?.['required'])
        {
          Published Year is required
        }
      </div>
    }
  </div>
  @if(errorMessage)
  {
    <div>
      {{errorMessage}}
    </div>
  }

  <button type="submit" [disabled]="form.invalid || loading">
    {{ book ? 'Update Book' : 'Create Book' }}
  </button>

</form>

@if (book) {
  <button
    type="button"
    (click)="delete()"
    [disabled]="loading">
    Delete Book
  </button>
}

@if (book) {
  <div>
    <ul>
      @for (c of book.categories; track c) {
        <li>
          {{ c }}
          <button type="button" (click)="removeCategory(c)">
            Remove
          </button>
        </li>
      }
    </ul>
  </div>
}

@if (book) {
  <div>
    <label>Add category:</label>
    <select #selectedCategory>
      @for (c of categories; track c) {
        <option [value]="c.name">
          {{ c.name }}
        </option>
      }
    </select>
    <button
      type="button"
      (click)="addCategory(selectedCategory.value)">
      Add
    </button>
  </div>
}