<h3>Categories</h3>

<ul>
  @for (c of categories; track c) {
    <li>
      {{ c.name }}
      <button (click)="select(c)">Edit</button>
      <button (click)="delete(c)">Delete</button>
    </li>
  }
</ul>

<form [formGroup]="form">
  <input formControlName="name" placeholder="Category name" />

  <button
    type="button"
    (click)="selectedCategory ? update() : create()"
    [disabled]="loading || form.invalid">
    {{ selectedCategory ? 'Update' : 'Create' }}
  </button>
  @if(errorMessage)
  {
    <div>
      {{errorMessage}}
    </div>
  }
</form>
