@if (loading) {
  <div>Loading...</div>
}

@if (!loading && !book) {
  <div>
    Book not found
  </div>
}

@if (!loading && book) {
  <div>
    <h2>{{ book.title }}</h2>
    <p>Author: {{ book.author }}</p>
    <p>Published Year: {{ book.publishedYear }}</p>
    <p>Categories:
      @for (category of book.categories; track category; let isLast = $last) {
        <span>
          {{ category }}@if (!isLast) {
          <span>, </span>
        }
      </span>
    }
  </p>
  <a [routerLink]="['/books']">Back to books</a>
  @if (!isInMyLibrary) {
    <button (click)="addToLibrary()">
      Add to My Library
    </button>
  }
  @if (isInMyLibrary) {
    <button (click)="removeFromLibrary()">
      Remove from My Library
    </button>
  }
</div>
}