name: CD

on:
  push:
    branches: ["master"]
  paths:
    - 'backend/**'
    - '.github/workflows/cd.yml'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: libriumpresentation-web
          images: ${{ secrets.ACR_LOGIN_SERVER }}/librium-api:latest
