name: CI

on:
  pull_request:
    branches: ["master"]
  
jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.x'
      
      - name: Restore
        run: dotnet restore ./backend/Librium.sln

      - name: Build
        run: dotnet build ./backend/Librium.sln --configuration Release --no-restore

      - name: Test
        run: dotnet test ./backend/Librium.Tests/Librium.Tests.csproj --configuration Release --no-build

  build-and-push-docker-image:
    needs: test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Azure Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.ACR_LOGIN_SERVER }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}
      
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          file: ./backend/Librium.Presentation/Dockerfile
          push: true
          tags: |
            ${{ secrets.ACR_LOGIN_SERVER }}/librium-api:latest
            ${{ secrets.ACR_LOGIN_SERVER }}/librium-api:${{ github.sha }}